@page
@model FootballAcademyPlatform.Pages.Coach.PlayerDetailUpdateModel
@{
}

@if (!Model.ErrorMessage.Equals(""))
{
    <div class="alert alert-primary" role="alert">
        @Model.ErrorMessage
    </div>
}

<form method="post" class="px-4 py-3 bg-success">
    <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" id="id" name="id" value="@Model.PlayerDto!.Id" readonly>
    </div>
    
    <div class="mb-3">
        <label for="height" class="form-label">Height</label>
        <input type="text" class="form-control" id="height" name="height"
               placeholder="ex. 1.80" value="@Model.PlayerDto!.Height" >
    </div>
    <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="text" class="form-control" id="weight" name="weight" placeholder="ex. 70.50"
               value="@Model.PlayerDto.Weight" >
    </div>

    <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <input type="text" class="form-control" id="position" name="position" value="@Model.PlayerDto.Position" >
    </div>
    <div class="mb-3">
        <label for="kAtr" class="form-label">Key Attribute</label>
        <input type="text" class="form-control" id="kAtr" name="kAtr"
               placeholder="good ball technique" value="@Model.PlayerDto.KeyAttribute" >
    </div>
    

    @*<div class="mb-3">
        <label for="teamId" class="form-label">Team Id</label>
        <input type="text" class="form-control" id="teamId" name="teamId" value="@Model.PlayerDto.TeamId" readonly>
    </div>*@
    <div class="mb-3">
        <label for="teamId" class="form-label">Choose Team</label>
        <select name="teamId" id="teamId">
            @if (Model.TeamsList.Count != 0)
            {
                @foreach (var team in Model.TeamsList)
                {
                    <option value="@team.Id">@team.TeamName</option>
                }
            }
        </select>

    </div>

    <input type="hidden" name="coachId" value="@Model.TeamCoachDto!.Id" />

    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Update Player Details</button>
        </div>
        <div class="offset-md-1 col-md-3 d-grid">
            <a role="button" class="btn btn-outline-primary" href="/Teams/TeamOfCoachPlayers?id=@Model.TeamCoachDto.Id">Cancel</a>
        </div>
    </div>
</form>